page-about {
    // ion-slide:nth-child(even) {
    //     background-color: #ffed1a;
    // }
    // ion-slide:nth-child(odd) {
    //     background-color: aqua;
    // }
    ion-slide {
        background-color: orange;
        color: white;
        font-family: "Arial";
        b {
            color: #000;
        }
    }

    .content-wrap {
        width: 100%;
        height: calc(100% - 58px);
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        align-content: center;
        justify-content: center;
        flex: 1 0 auto;
        p {
            align-self: center;
        }
    }

    .pagination {
        display: flex;
        flex: 0 0 50px;
    }
}
