page-about {
    // ion-slide:nth-child(even) {
    //     background-color: #ffed1a;
    // }
    // ion-slide:nth-child(odd) {
    //     background-color: aqua;
    // }
    ion-slide {
        background-color: orange;
        color: white;
        font-family: "Arial";
        b {
            color: #000;
        }
    }
    .hahaxd {
        font-size: 20px;
        padding: 0px 10%;
        text-align: justify;
    }
}
