<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{list.name}} <span>({{list.troopers.length}} total)</span></ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>

<div class="center" *ngIf="items.length === 0">

  <h6 ion-text>List is empty</h6>
<button (click)="onImportClick()" ion-button round outline>Import troopers</button>
  <h6 ion-text>or</h6>
<button (click)="onCreateTrooperClick()" ion-button round outline>Add new one</button>
</div>

<ion-list [approxItemHeight]="'107px'" [virtualScroll]="items">
  <ion-item (click)="onTrooperClick(item)" *virtualItem="let item">
    <h2>{{item.trooper.name}}</h2>
    <p *ngIf="item.state === STATE.DEFAULT">
      {{item.trooper.pass ? 'pass: '+item.trooper.pass : 'no password set'}}
    </p>
    <p *ngIf="item.state === STATE.VALIDATING">
      Validating...
    </p>
    <p *ngIf="item.state === STATE.ERROR">
      {{item.error}}
    </p>
    <p *ngIf="item.state === STATE.SUCCESS">
      OK
    </p>
  </ion-item>
</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p></p>
        <ion-buttons end>
      <button (click)="onOptionsClick()" ion-button icon-right solid>
        <!--<ion-icon name="help-circle"></ion-icon>-->
        More
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
