@mixin showHideBahavior($state) {
    .state-#{$state} {
        display: none;
    }
    .item-#{$state} {
        .state-#{$state} {
            display: block;
        }
    }
}

$alpha: 0.05;

page-player {

    @include showHideBahavior('upgrade-available');
    @include showHideBahavior('playing');
    @include showHideBahavior('error');
    @include showHideBahavior('skill-selecting');
    @include showHideBahavior('skill-selected');

    .item-skill-selecting, .item-playing {
        background-color: rgba(0, 0, 255, 0.02);
    }

    .upgrade-button {
        display: none;
    }

    .item-upgrade-available {
       .upgrade-button {
            display: block;
        }
        background-color: rgba(0, 255, 0, $alpha);
    }
    
    .item-error {
        background-color: rgba(255, 0, 0, $alpha);
    }

    ion-icon {
        font-size: 2.5em;
    }
}
