


<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    
<section>
    <div style="display: inline-block;" *ngFor="let queryComponent of query">        
        <!-- <ion-badge *ngIf="queryComponent.isOr" color="secondary">OR</ion-badge>
        <ion-badge *ngIf="queryComponent.isAnd" color="secondary">AND</ion-badge> -->
        <button (click)="onOperatorClick(queryComponent)" ion-button large *ngIf="queryComponent.isOr" color="secondary">OR</button>
        <button (click)="onOperatorClick(queryComponent)" ion-button large *ngIf="queryComponent.isAnd" color="secondary">AND</button>
        <button (click)="onWordClick(queryComponent)" ion-button large *ngIf="queryComponent.isWord">
            "{{queryComponent.word}}"
        </button>
    </div>
    <button (click)="add()" ion-button large color="light">+</button>

<br>

<button ion-button full (click)="saveQuery()">Save Query</button>

</section>



</ion-content>
