slide-component {

    ion-slide {
        background-color: orange;
        color: white;
        font-family: "Arial";
        b {
            color: #000;
        }
    }
    

    .content-wrap {
        width: 100%;
        height: calc(100% - 58px);
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        align-content: center;
        justify-content: center;
        flex: 1 0 auto;
        padding: 0 10%;
        p {
            font-size: 17px;
            align-self: center;
            text-align: justify;
        }
    }

    .pagination {
        display: flex;
        flex: 0 0 50px;
    }
}
