<ion-list>
    <ion-item>
        <ion-label floating>name</ion-label>
        <ion-input type="text" [(ngModel)]="trooper.name" clearInput></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>password</ion-label>
        <ion-input type="text" [(ngModel)]="trooper.pass" clearInput></ion-input>
    </ion-item>    
</ion-list>
    <button 
      [disabled]="trooper.name.length === 0 || currentState === STATE.CHECKING" 
      (click)="onSaveClick()" ion-button block large>
        {{buttonText}}
    </button>